<md-list>
  <md-list-item>
    <md-icon md-list-icon><i class="material-icons">home</i></md-icon>
    <h4 md-line>Home</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon><i class="material-icons">language</i></md-icon>
    <h4 md-line>Design</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon><i class="material-icons">info</i></md-icon>
    <h4 md-line>About</h4>
  </md-list-item>
  <md-list-item id="menuBottom">
  	<md-icon md-list-icon><i class="material-icons">person</i></md-icon>
    <h4 md-line>Creator</h4>
  </md-list-item>
  
</md-list>
