<div class="moduleHolder">
	<div class="module">
		<img src='assets/dm.jpg'/>
		<div class="moduleText">
			<h3>Manage Your Campaign</h3>
			<p>
				Keep track of your D&D campaign by planning encounters, taking notes, and more!
			</p>
		</div>
	</div>
	<div class="module">
		<img src='assets/dragonborn.jpg'/>
		<div class="moduleText">
			<h3>Build Your Character</h3>
			<p>
				Generate an online, interactable, character sheet for up to 10 characters!
			</p>
		</div>
	</div>
	<div class="module">
		<img src='assets/tiefling.jpg' />
		<div class="moduleText">
			<h3>Update Your Characters</h3>
			<p>
				Keep your characters up to date by adding your new skills, items and levels.
			</p>
		</div>
	</div>
</div>

